# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# enter your code here
orders = pd.read_csv("Orders.csv")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

In [3]:
orders.shape

(397924, 14)

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

### Subproblem 1: How to aggregate the  `amount_spent` for unique customers?

In [23]:
# your code here
orders.groupby('CustomerID')['amount_spent'].sum().sort_values(ascending=False)

CustomerID
14646    280206.02
18102    259657.30
17450    194550.79
16446    168472.50
14911    143825.06
12415    124914.53
14156    117379.63
17511     91062.38
16029     81024.84
12346     77183.60
16684     66653.56
14096     65164.79
13694     65039.62
15311     60767.90
13089     58825.83
17949     58510.48
15769     56252.72
15061     54534.14
14298     51527.30
14088     50491.81
15749     44534.30
12931     42055.96
17841     40991.57
15098     39916.50
13798     37153.85
16013     37130.60
16422     34684.40
12748     33719.73
15838     33643.08
17404     31906.82
           ...
14589        39.75
12977        39.24
16659        39.12
18019        38.45
12855        38.10
16162        37.40
17816        36.56
15940        35.80
17831        35.40
16856        35.40
14576        35.40
15744        34.80
16765        34.00
17408        32.65
13120        30.60
15657        30.00
18268        25.50
17102        25.50
17986        20.80
16953        20.80
16093        17.00
13307        15.00
17763        15.00
15823        15.00
16878        13.30
17956        12.75
16454         6.90
14792         6.20
16738         3.75
13256         0.00
Name: amount_spent, Length: 4339, dtype: float64

In [25]:
customers = orders.groupby('CustomerID')['amount_spent'].sum().sort_values(ascending=False)

### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

In [32]:
# Select the percentil 
q = 0.95
q_amount = customers.quantile(q)
q_amount

5840.181999999983

In [33]:
vip = customers[customers>q_amount]
vip

CustomerID
14646    280206.02
18102    259657.30
17450    194550.79
16446    168472.50
14911    143825.06
12415    124914.53
14156    117379.63
17511     91062.38
16029     81024.84
12346     77183.60
16684     66653.56
14096     65164.79
13694     65039.62
15311     60767.90
13089     58825.83
17949     58510.48
15769     56252.72
15061     54534.14
14298     51527.30
14088     50491.81
15749     44534.30
12931     42055.96
17841     40991.57
15098     39916.50
13798     37153.85
16013     37130.60
16422     34684.40
12748     33719.73
15838     33643.08
17404     31906.82
           ...
16814      6509.10
12431      6487.45
18223      6484.54
15694      6479.40
13225      6463.84
13102      6424.09
13871      6403.25
12359      6372.58
13668      6363.59
13709      6328.05
15005      6316.57
17315      6292.26
16126      6287.77
14057      6217.96
12357      6207.67
14060      6140.42
13418      6127.43
17509      6115.14
15939      6115.01
14735      6065.69
12637      6021.90
13097      6010.42
13316      5977.73
14101      5976.79
15382      5955.71
14505      5905.64
14415      5900.28
14944      5900.25
13209      5891.61
13534      5870.08
Name: amount_spent, Length: 217, dtype: float64

In [34]:
vip.shape

(217,)

### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

In [41]:
vip_list = []
for i in orders['CustomerID']:
    if i in vip.index:
        vip_list.append(1) #If VIP --> 1
    else:
        vip_list.append(0) #If not VIP --> 0  
vip_list[15:35]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [42]:
orders['VIP'] = vip_list

In [47]:
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent,VIP
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,0
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,0
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,0
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,0
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,0

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

In [48]:
# your code here
customers_c = orders.groupby(['CustomerID','Country'])['amount_spent'].sum().sort_values(ascending=False)

In [49]:
customers_c.head()

CustomerID  Country
14646       Netherlands       280206.02
18102       United Kingdom    259657.30
17450       United Kingdom    194550.79
16446       United Kingdom    168472.50
14911       EIRE              143825.06
Name: amount_spent, dtype: float64

In [66]:
# Select the percentil 
q = 0.95
q_amount_v = customers_c.quantile(q)
q_amount_v

5774.277999999997

In [67]:
vip_c = customers_c[customers_c>q_amount_v]
vip_c

CustomerID  Country
14646       Netherlands       280206.02
18102       United Kingdom    259657.30
17450       United Kingdom    194550.79
16446       United Kingdom    168472.50
14911       EIRE              143825.06
12415       Australia         124914.53
14156       EIRE              117379.63
17511       United Kingdom     91062.38
16029       United Kingdom     81024.84
12346       United Kingdom     77183.60
16684       United Kingdom     66653.56
14096       United Kingdom     65164.79
13694       United Kingdom     65039.62
15311       United Kingdom     60767.90
13089       United Kingdom     58825.83
17949       United Kingdom     58510.48
15769       United Kingdom     56252.72
15061       United Kingdom     54534.14
14298       United Kingdom     51527.30
14088       United Kingdom     50491.81
15749       United Kingdom     44534.30
12931       United Kingdom     42055.96
17841       United Kingdom     40991.57
15098       United Kingdom     39916.50
13798       United Kingdom     37153.85
16013       United Kingdom     37130.60
16422       United Kingdom     34684.40
12748       United Kingdom     33719.73
15838       United Kingdom     33643.08
17404       Sweden             31906.82
                                ...
18223       United Kingdom      6484.54
15694       United Kingdom      6479.40
13225       United Kingdom      6463.84
13102       United Kingdom      6424.09
13871       United Kingdom      6403.25
12359       Cyprus              6372.58
13668       United Kingdom      6363.59
13709       United Kingdom      6328.05
15005       United Kingdom      6316.57
17315       United Kingdom      6292.26
16126       United Kingdom      6287.77
14057       United Kingdom      6217.96
12357       Switzerland         6207.67
14060       United Kingdom      6140.42
13418       United Kingdom      6127.43
17509       United Kingdom      6115.14
15939       United Kingdom      6115.01
14735       United Kingdom      6065.69
12637       France              6021.90
13097       United Kingdom      6010.42
13316       United Kingdom      5977.73
14101       United Kingdom      5976.79
15382       United Kingdom      5955.71
14505       United Kingdom      5905.64
14415       United Kingdom      5900.28
14944       United Kingdom      5900.25
13209       United Kingdom      5891.61
13534       United Kingdom      5870.08
13050       United Kingdom      5836.86
12720       Germany             5781.73
Name: amount_spent, Length: 218, dtype: float64

In [58]:
top_vip_countries = vip_c.groupby('Country').count().sort_values(ascending=False)
top_vip_countries.head(1)

Country
United Kingdom    177
Name: amount_spent, dtype: int64

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [65]:
# your code here
# Select the percentil 
q95 = 0.95
q75 = 0.75
q_amount_p = customers_c.quantile(q75)
q_amount_p

1661.1950000000002

In [68]:
prefered_c = customers_c[(customers_c>q_amount_p)&(customers_c<q_amount_v)]
prefered_c

CustomerID  Country
15218       United Kingdom    5756.89
17686       United Kingdom    5739.46
13178       United Kingdom    5725.47
16553       United Kingdom    5719.82
13468       United Kingdom    5704.97
14110       United Kingdom    5683.15
14049       United Kingdom    5681.72
17049       United Kingdom    5659.98
17716       United Kingdom    5655.99
13004       United Kingdom    5655.91
18118       United Kingdom    5653.82
14688       United Kingdom    5630.87
17757       United Kingdom    5605.29
12481       Germany           5596.32
12839       United Kingdom    5591.42
16767       United Kingdom    5580.60
16161       United Kingdom    5575.56
12539       Spain             5568.35
15805       United Kingdom    5528.48
12431       Australia         5514.67
18225       United Kingdom    5509.12
16609       United Kingdom    5493.46
16985       United Kingdom    5464.12
16265       United Kingdom    5447.00
18198       United Kingdom    5425.56
12490       France            5417.93
17809       United Kingdom    5411.91
16701       United Kingdom    5398.30
17719       United Kingdom    5396.04
17850       United Kingdom    5391.21
                               ...
15240       United Kingdom    1706.57
16398       United Kingdom    1705.80
17282       United Kingdom    1703.41
12843       United Kingdom    1702.26
16007       United Kingdom    1701.94
13184       United Kingdom    1701.29
17193       United Kingdom    1699.30
13824       United Kingdom    1698.94
12455       Cyprus            1698.90
16775       United Kingdom    1695.66
12764       Lebanon           1693.88
14245       United Kingdom    1693.45
15549       United Kingdom    1693.26
16813       United Kingdom    1692.98
16671       United Kingdom    1692.27
15380       United Kingdom    1690.26
17152       United Kingdom    1689.50
12635       Germany           1689.18
13162       United Kingdom    1688.29
13577       United Kingdom    1687.60
16638       United Kingdom    1680.72
13647       United Kingdom    1678.12
13149       United Kingdom    1676.06
17656       United Kingdom    1674.69
16115       United Kingdom    1667.97
12912       United Kingdom    1662.30
12530       Germany           1662.28
13012       United Kingdom    1661.84
15214       United Kingdom    1661.44
15024       United Kingdom    1661.33
Name: amount_spent, Length: 869, dtype: float64

In [69]:
vip_prefered_c = customers_c[(customers_c>q_amount_p)]
vip_prefered_c

CustomerID  Country
14646       Netherlands       280206.02
18102       United Kingdom    259657.30
17450       United Kingdom    194550.79
16446       United Kingdom    168472.50
14911       EIRE              143825.06
12415       Australia         124914.53
14156       EIRE              117379.63
17511       United Kingdom     91062.38
16029       United Kingdom     81024.84
12346       United Kingdom     77183.60
16684       United Kingdom     66653.56
14096       United Kingdom     65164.79
13694       United Kingdom     65039.62
15311       United Kingdom     60767.90
13089       United Kingdom     58825.83
17949       United Kingdom     58510.48
15769       United Kingdom     56252.72
15061       United Kingdom     54534.14
14298       United Kingdom     51527.30
14088       United Kingdom     50491.81
15749       United Kingdom     44534.30
12931       United Kingdom     42055.96
17841       United Kingdom     40991.57
15098       United Kingdom     39916.50
13798       United Kingdom     37153.85
16013       United Kingdom     37130.60
16422       United Kingdom     34684.40
12748       United Kingdom     33719.73
15838       United Kingdom     33643.08
17404       Sweden             31906.82
                                ...
15240       United Kingdom      1706.57
16398       United Kingdom      1705.80
17282       United Kingdom      1703.41
12843       United Kingdom      1702.26
16007       United Kingdom      1701.94
13184       United Kingdom      1701.29
17193       United Kingdom      1699.30
13824       United Kingdom      1698.94
12455       Cyprus              1698.90
16775       United Kingdom      1695.66
12764       Lebanon             1693.88
14245       United Kingdom      1693.45
15549       United Kingdom      1693.26
16813       United Kingdom      1692.98
16671       United Kingdom      1692.27
15380       United Kingdom      1690.26
17152       United Kingdom      1689.50
12635       Germany             1689.18
13162       United Kingdom      1688.29
13577       United Kingdom      1687.60
16638       United Kingdom      1680.72
13647       United Kingdom      1678.12
13149       United Kingdom      1676.06
17656       United Kingdom      1674.69
16115       United Kingdom      1667.97
12912       United Kingdom      1662.30
12530       Germany             1662.28
13012       United Kingdom      1661.84
15214       United Kingdom      1661.44
15024       United Kingdom      1661.33
Name: amount_spent, Length: 1087, dtype: float64

In [70]:
top_vip_pref_country = vip_prefered_c.groupby('Country').count().sort_values(ascending=False)
top_vip_pref_country.head(1)

Country
United Kingdom    934
Name: amount_spent, dtype: int64